body {
    max-height: 100vh;
    overflow-y: auto;
}
main {
    width: 60%;
    margin: 1rem auto;
}
.user-form input {
    padding: 1rem;
    border-radius: .3rem;
    background: var(--dark-gray);
    color: var(--white);
    font-size: 1.125rem;
    width: 100%;
}
#githubuser > p {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    display: block;
    padding: 4rem 0;
    background: rgba(var(--dark-gray-rgb), .12);
}
#github-perfil {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "avatar info" "response response";
    gap: .5rem;
    padding: 1rem;
    margin: 1rem;
    background: rgba(var(--light-gray-rgb), .12);
}
#github-perfil .avatar {
    grid-area: avatar;
    width: 140px;
    height: 140px;
    border-radius: .3rem;
    background-color: #CCC;
    overflow: hidden;
}
#github-perfil .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#github-perfil .data-info {
    grid-area: info;
    display: grid;
    place-items: center start;
    position: relative;
}
#github-perfil .data-info p small {
    display: block;
}
#github-perfil .data-info .hireable {
    position: absolute;
    background-color: var(--grapefruit);
    color: var(--white);
    font-size: 0.8rem;
    display: inline-block;
    height: 1.25rem;
    line-height: 1.25rem;
    padding-inline: .5rem;
    top: 1rem;
    right: 1rem;
}
.data {
    display: block;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .785rem;
    font-size: 0.8rem;
}
.data--badge {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding-right: .785rem;
    overflow: hidden;
    border-radius: 10em;
    background: rgba(var(--bittersweet-rgb), .1);
    color: var(--bittersweet);
    cursor: pointer;
}
.data--badge strong {
    --s: 1.785rem;
    border-radius: 10em;
    background: rgba(var(--bittersweet-rgb), .2);
    display: block;
    width: var(--s);
    height: var(--s);
    line-height: var(--s);
    text-align: center;
}
.data--badge * {
    pointer-events: none;
}
.data__response {
    grid-area: response;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.data__response.gist {
    grid-template-columns: repeat(2, 1fr);
}
.data__response a {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    flex-direction: row-reverse;
    background: rgba(var(--grapefruit-rgb), .1);
}
.data__response.gist a {
    font-weight: 600;
    display: block;
    background: transparent;
}
.data__response a span {
    font-size: 11px;
}
.data__response.gist a span {
    display: block;
    font-weight: 400;
    font-style: italic;
}
.data__response a img {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 0.25rem;
    margin-right: 0.25rem;
}