header {
	background: rgba(var(--slate-gray-rgb), 1);
	border-bottom: .25rem solid rgba(var(--dark-gray-rgb), .5);
	height: 5rem;
	padding-inline: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
form .search {
	background: rgba(var(--light-gray-rgb), 1);
	height: 2rem;
	line-height: 2rem;
	width: 300px;
	padding-inline: 1rem;
	border-radius: 10em;
	box-shadow: 0 .125rem .325rem rgba(var(--dark-gray-rgb), .5);
}
#movies {
	--gap: 1rem;
	--columns: 4;
	--calc: calc(calc(100% - var(--gap) * 2) / var(--columns));
	width: 90%;
	margin: 1rem auto;
	display: grid;
	grid-template-columns: repeat(var(--columns), var(--calc));
	gap: var(--gap);
}
@media(width <= 992px) {
	#movies {
		--columns: 3;
	}
}
@media(width <= 768px) {
	#movies {
		--columns: 2;
	}
}
@media(width <= 620px) {
	#movies {
		--columns: 1;
	}
}
@media(width <= 560px) {
	header {
		flex-direction: column;
		justify-content: center;
		height: auto;
	}
	header h1 {
		margin-block: .875rem;
	}
	form .search {
		margin-bottom: 0.875rem;
		width: minmax(320px, 400px);
	}
}
.movie {
	--marco-alto: 450px;
	border-radius: .3rem;
	position: relative;
	height: var(--marco-alto);
	overflow: hidden;
}
.movie img {
	background-color: #CCC;
	width: 100%;
	height: var(--marco-alto);
	object-fit: cover;
	transform: scale(1);
	transition: transform .8s ease-in-out;
}
.movie:hover img {
	transform: scale(1.2);
	transition: transform .8s ease-in-out;
}
.vote_average {
	--size: 2rem;
	--border-width: .25rem;
	--border-color: var(--dark-gray);
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	background-color: var(--body-bg);
	width: var(--size);
	height: var(--size);
	display: grid;
	place-items: center;
	font-size: 0.875rem;
	border-radius: 10em;
	font-weight: 700;
	outline: var(--border-width) solid var(--border-color);
}
.vote_average.green {
	--border-color: var(--mint);
}
.vote_average.orange {
	--border-color: var(--bittersweet);
}
.vote_average.red {
	--border-color: var(--grapefruit);
}
.movie .movie-info {
	padding: 0.75rem;
	position: absolute;
	left: 0;
	bottom: -100%;
	background-color: rgba(var(--white-rgb), 1);
	width: 100%;
	transition: bottom .8s ease-in-out;
}
.movie:hover .movie-info {
	max-height: calc(var(--marco-alto) - 60px);
	overflow-y: auto;
	bottom: 0;
	transition: bottom .8s ease-in-out;
}
.movie .movie-info h3 {
	margin-bottom: 0.25rem;
	border-bottom: 1px solid #CCC;
	padding-bottom: 0.5rem;
}
.movie .movie-info p {
	display: none;
	font-size: 0.875rem;
	font-weight: 500;
}
.movie:hover .movie-info p {
	display: block;
}
#paginacion {
   margin-block: 1rem;
   width: 100%;
   display: flex;
   flex-wrap: nowrap;
   align-content: center;
   justify-content: center;
   align-items: center;
}
#paginacion button,
#paginacion span {
	margin-right: .25rem;
	padding: .25rem .5rem;
	cursor: pointer;
	border-radius: .25rem;
	background-color: rgba(var(--grapefruit-rgb), .15);
	color: rgba(var(--grapefruit-rgb), 1);
	display: block;
	text-align: center;
	height: 2rem;
  	min-width: 2rem;
}
#paginacion button.active {
	background-color: rgba(var(--grapefruit-rgb), 1);
	color: rgba(var(--white-rgb), 1);
}
#paginacion span {
	pointer-events: none;
}